.awecomments {

    --button-default-height: 48px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2;
    --transform-speed: 0.185s;
    --button-primary-color: #0d0d0d;
    --button-primary-color-dark: #000000;
    --button-primary-color-light: #000000;
    --button-primary-color-hover: #000000;
    --elevation:0

    
  
    
    }